#testing
/self-adk

#outputs
/*/logs
/*/pdfs
/*/*/*/logs
personal-log.txt
*/*.class
!/bin/*.class
/_ARK

#dev
/lib/javafx*
/.vim

#dist
/dist/mintex/**
/dist/mintex*.zip

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
